/* Estilos adicionales para la página de resultados */

/* Estilo general de la página */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    color: #666;
}


/* Estilo para el select */
.form-select {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    border: 1px solid #ced4da;
    width: 100%;
    max-width: 200px; /* Ajusta el ancho según sea necesario */
}

/* Estilo para el contenedor del select */
#filter-options {
    text-align: center;
    margin-bottom: 20px; /* Ajusta el margen según sea necesario */
}



